* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0f0f0f;
    color: #fff;
}

.page {
    height: 100svh;
    scroll-margin-top: 50px;
}


/* NAVBAR */
.navbar {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 30px;
    margin-right: 50px;
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 20px;
    opacity: 0.8;
}

.logo {
    color: aqua;
    font-weight: bold;
    font-size: 20px;
    cursor:pointer;
    text-decoration: none;
}

.logo:hover {
    color: #eaeaea;
    transition: .3s all ease-in-out;
}

.navbar nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    opacity: 100%;
}

.navbar nav a:hover {
    color: aqua;
    transition: .5s all ease-in-out;
}

/* HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    width: 26px;
    height: 3px;
    background: aqua;
    border-radius: 2px;
}

.hamburger:hover span {
    background: #eaeaea;
    transition: .3s all ease-in-out;
}


/* SIDEBAR GLASS */
.sidebar {
    position: fixed;
    top: 32%;
    right: -320px;
    transform: translateY(-50%);
    width: 120px;
    height: 280px;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 0.4s cubic-bezier(.19,1,.22,1);
    z-index: 999;
}

/* ACTIVE */
.sidebar.active {
    right: 20px;
}

/* LINK */
.sidebar a {
    color: white;
    padding: 14px 24px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
}

.sidebar a:hover {
    color: aqua;
    transform: translateX(6px);
    transition: 0.3s;
}


/* OVERLAY POP UP */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 998;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}




/* HERO */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20px;
    background-image: url("assets//images/skill.png");
    background-size: cover;        /* gambar nutup penuh */
    background-position: center; 
}

.hero h1 span {
    color: aqua;
}

.hero p {
    margin: 10px 0 20px;
    opacity: 0.8;
}

.btn {
    padding: 10px 25px;
    background: aqua;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
}

.hero a:hover {
    background: #eaeaea;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: .3s all ease-in-out;
}

/* SECTION */
.section.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-image: url("assets/images/bg.png");
    background-size: cover;        /* gambar nutup penuh */
    background-position: center;   /* fokus tengah */
    background-repeat: no-repeat; /* gambar tidak diulang */
    position: relative;
}

.section.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    background-image: url("assets/images/skill.png");
    background-size: cover;        /* gambar nutup penuh */
    background-position: center; 
}

/* SKILLS */
.skills {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skills span {
    border: 0.5px solid aqua;
    background: #222;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.skills span:hover {
    background: aqua;
    color: black;
    transform: translateY(-4px);
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}


/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.section.project {
    padding: 180px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("assets/images/bg.png");
    background-size: cover;        /* gambar nutup penuh */
    background-position: center;   /* fokus tengah */
    background-repeat: no-repeat;
    position: relative;
}

h2 {
    color: aqua;
}

.card {
    border: 0.5px solid aqua;
    background: #222;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.projects div:hover {
    background: aqua;
    color: black;
    transform: translateY(-4px);
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}


/* SKILLS OVERLAY POP UP */
.bhs-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 2000;
}

.bhs-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* MODAL BOX */
.bhs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #212121;
    border: 1px solid aqua;
    padding: 30px;
    border-radius: 14px;
    width: 90%;
    max-width: 420px;
    color: white;
    position: relative;
    animation: scaleIn 0.3s ease;
}

/* CLOSE BUTTON */
.close-bhs {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
    color: aqua;
}

.close-bhs:hover {
    color: #eaeaea;
}

/* ANIMATION */
@keyframes scaleIn {
    from {
        transform: scale(0.85);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}



/* MODAL/PROJECT OVERLAY POP UP */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 2000;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* MODAL BOX */
.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #212121;
    border: 1px solid aqua;
    padding: 30px;
    border-radius: 14px;
    width: 90%;
    max-width: 420px;
    color: white;
    position: relative;
    animation: scaleIn 0.3s ease;
}

/* CLOSE BUTTON */
.close-modal {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
    color: aqua;
}

.close-modal:hover {
    color: #eaeaea;
}

/* ANIMATION */
@keyframes scaleIn {
    from {
        transform: scale(0.85);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}



/* CONTACT */
.section.contact {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    background-image: url("assets/images/skill.png");
    background-size: cover; 
    background-position: center; 
}

.contact h2 {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background: #000;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    opacity: 0.7;
}

.footer {
    background: rgba(0,0,0,0.7);
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.social {
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
}

.social a {
    width: 38px;
    height: 38px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eaeaea;
    transition: 0.3s;
}

.social a:hover {
    background: aqua;
    color: #000;
    transform: translateY(-3px);
}





/* SCROLL ANIMATION */
/* BASE */
.reveal {
    opacity: 1;
    transition:
        transform 1.6s cubic-bezier(.19, 1, .22, 1),
        opacity 1.6s ease;
}

/* muncul dari bawah */
.reveal.from-bottom {
    transform: translateY(150px);
}

/* muncul dari atas */
.reveal.from-top {
    transform: translateY(-150px);
}

/* aktif */
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


.music-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #000;
    border: 1px solid aqua;
    color: aqua;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.music-btn:hover {
    background: aqua;
    transform: translateY(-4px);
    color: #000;
}

.music-btn.active {
    background: aqua;
    color: #000;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {

    html {
        scroll-snap-type: y mandatory;
    }

    
    .page {
        scroll-snap-align: start;
    }
    
    .navbar {
        height: 60px;
        padding: 30px 20px;
        left: 7px;
        display: flex;
    }
    
    .logo {
        margin-right: auto;
        margin-top: 0px;
    }
    
    .hamburger {
        display: flex;
        position: absolute;
        top: 17px;
        right: 20px;
    }

    .navbar nav {
        position: absolute;
        top: 80px;
        right: 0;
        background: #000;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    
    .navbar nav.active {
        display: flex;
    }
    
    .navbar nav a {
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }
    
    .hero h1 {
        font-size: 24px;
    }
    
    
    a {
        margin-top: 5px;
    }
    
    .hero h1 {
        font-size: 24px;
    }
    
    .hero {
        background-image: url("assets/images/project.png");
    }
    
    .section.skills {
        background-image: url("assets/images/project.png");
        background-size: cover;
        background-position: right;
        
    }
    
    .section.contact {
        background-image: url("assets/images/project.png");
        background-size: cover;
        background-position: right;
    }

    .page.footer {
        height: 6vh;
    }
    

}

